body {
    font-family: 'Overpass', 'Open Sans',
    Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,1);
    height: 100%;
    font-size: 21px;;
    color: #676767;
    font-weight: 400;
    font-style: normal;;
    line-height: 1.5;
    letter-spacing: .025em;
}
#covid-bar {
    color: white;
    font-size: 16px;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 99999;
    top: 0px;
    left: 0px;
    background: #edb71e;
    text-align: center;
    border-bottom: 0px solid transparent;
    box-sizing: border-box;
}
#covid-bar-wrapper {
    position: relative;
}
.covid-bar-section {
    padding-top: 8px;
    padding-bottom: 4px;
}
#covid-bar-description {
    line-height: 1.2;
}
.covid-bar-button {
    color: white;
    font-weight: 400;
    white-space: initial;
    display: inline-block;
    border-radius: 3px;
    line-height: initial;
    font-size: 16px;
    padding: 5px 6px 5px 6px;
}
#covid-close {
    display: block;
    position: absolute;
    top: 0;
    box-sizing: initial;
    right: 0;
    cursor: pointer;
}
#covid-close img {
    width: 16px;
}
a.covid-bar-button {
    font-weight: 400;
    white-space: initial;
    vertical-align: baseline;
    color: white;
    background-repeat: repeat-x;
    background-image: none;
    text-shadow: none;
    background-color: #d4a730;
}




header {
    display: block;
    top: 50px;
    height: 60px;
    left: 0px;
}
.header-container {
    height: auto;
    width: 100%;
    height: 100px;
}
#siteHeader {
    width: 100%;
    background: #2d2d2d;
    position: fixed;
    z-index: 10;
}
.header-container {
    width: 100%;
    display: flex;
    flex: row;
}
#navbar a h1 {
    font-size: 20px;
    font-weight: 400;
    float: left;
    line-height: 1;
    color: #fff;
}
.logo img {
    height: 60px;
    width: 60px;
}
.logo {
    font-size: 20px;
    color: #fff;
}
#title-text {
    padding-bottom: 20px;
}




.fullWidth video {
    width: 100%;
}
#pageContent {
    width: 100%;
}
#video-wrapper .website-title h1 {
    font-size: 50px;
    text-align: left;
    float: auto;
    background: (0,0,0,.7);
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 27px;;
}
#video-wrapper {
    z-index: 999;
}
#video-wrapper a {
    background-color: #e33e43;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-weight: 800;
    padding: .39emm .65em .34em .65em;
    margin-right: 10px;
    margin-bottom: 7px;
}


.grayCardsWrapper h1 {
    text-align: center;
}
#contentSections {
    padding-bottom: 0;
    background-color: #efefef;
}
.cards-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
}
.grayCards {
    padding: 45px 0 45px 0;
}
.grayCardsWrapper {
    padding-left: 5%;
    padding-right: 5%;
}
.card-content {
    line-height: 1.4;
    color: #676767;
    padding-top: 1em 9% 0;
    padding-right: 9%;
    padding-bottom: 0px;
    padding-left: 9%; 
    box-sizing: border-box;
}
.card-content h2 {
    color: #676767;
    font-size: 28px;
    font-weight: 800px;
}
.card-content p {
    color: #676767;
    font-size: 17px;
}
.card-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.card {
    width: 31.667%;
    display: flex;
    margin-right: 1.3%;
}
.cardButton {
    background: #e33e42;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: .5em;
}

.iconSection {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
    display: block;
    background-color: #fff;
}
.columnOne {
    float: left;
}
.columnTwo h2 {
    font-size: 28px;
    color: #348db9;
}
#columnTwo p {
    color: #676767;
    font-weight: 400;
    font-size: 17px;
}